<div class="container-fluid">
    <div class="col-12 d-flex justify-content-center">
        <div class="col-4 todo-block">
            <h4 class="text-center mb-3 todo-header">TODO List</h4>
            <div class="col-12 d-flex align-items-center justify-content-between">
              <input class="col-8 todo-input placeholder" placeholder="Enter text..." type="text" name="text" [(ngModel)]="todoValue" />
              <button type="submit" class="col-2 btn btn-primary" (click)="openDialog(content2)"><i class="bi bi-plus"></i></button>
            </div>
            <!-- Active TODO -->
            <div class="todo-list mt-3">
              <h5>TODO</h5>
              <div class="col-12 d-flex todo-single align-center" *ngFor="let todo of todoList; index as i;">
                  <input type="checkbox" class="col-1 todo-checkbox" [(ngModel)]="todo.completed" (ngModelChange)="changeTodo(i)" />
                  <p class="col-9">{{todo.title}}</p>
                  <button type="button" class="btn btn-outline-light text-danger col-2 del-btn" (click)="openModal(content, i, 'todoList')">
                      <i class="bi bi-trash3"></i>
                  </button>
              </div>
            </div>
            <!-- Finished TODO -->
            <div class="todo-list mt-3">
                <h5>DONE</h5>
                <div class="col-12 d-flex todo-single align-center" *ngFor="let todo of finishedList; index as i;">
                    <input type="checkbox" class="col-1 todo-checkbox" [(ngModel)]="todo.completed" (ngModelChange)="changeFinished(i)" />
                    <p class="col-9 todo-completed">{{todo.title}}</p>
                    <button type="button" class="btn btn-outline-light text-danger col-2 del-btn" (click)="openModal(content, i, 'finishedList')">
                        <i class="bi bi-trash3"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>   
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Deletion</h4>
        <button
            type="button"
            class="btn-close"
            aria-describedby="modal-title"
            (click)="modal.dismiss('Cross click')"
        ></button>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to delete?
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button>
    </div>

</ng-template>

<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Todo</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <!--<label for="todoTitle">Todo Title</label>-->
        <div class="input-group">
          <input class="col-8 todo-input" placeholder="Enter text..." type="text" name="todoTitle" [(ngModel)]="todoValue" />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancel')">Cancel</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('OK')">OK</button>
  </div>
</ng-template>
